
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


  .animated-text{
    opacity: 0; /* Set initial opacity to 0 */
    animation: fadeIn 1s ease-in-out forwards; /* Apply the fadeIn animation */
  }


:root{
    --btn-radius:10px;
    --color-tiktok:#1c1c1c;
    --color-white:#fff;
    --color-buttons-third:#429ef3;
    --color-yellow:#fff19c;
    --color-red:#fd5234;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.btn:hover{
    opacity: 0.8;
}
a{
    text-decoration: none;
}

.image_container{
    background-image: url("second_pills.jpg");
    z-index: 0; /* Change the z-index value to 0 or a positive value */
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 160vh;
    max-height: 160vh;
    background-size: cover;
    background-position: center -100px;
}

.motivational{
    color:var(--color-white);
    font-size:40px;
    font-weight: 800;
    width:80%;
    margin:auto;
    padding:40px 0;
}

.motivational b{
    color:var(--color-buttons-third);
}

.logo_text{
    font-size:30px;
    color:var(--color-white);

}

.blue_btn{
    background-color: var(--color-buttons-third);
    border-radius:10px;
    border:none;
    font-size:20px;
    color:var(--color-white);
    padding:15px 25px;
}

.black_btn{
    border-radius:10px;
    border:none;
    font-size:20px;
    color:var(--color-tiktok);
    padding:15px 25px;
    border:2px solid var(--color-tiktok);
    background-color: var(--color-white);
    font-weight: 800;
}


/*===============================NAVIGATION===================*/

.nav {
    position: fixed; /* Set the position to fixed */
    display: none;
    align-items: center;
    justify-content: center;
    padding:10px 50px;
    height: 5rem;
    top: 0; /* Stick it to the top */
    left: 0; /* Align it to the left */
    right: 0; /* Align it to the right */
    z-index: 1;
    background: transparent; /* Initially, make it transparent */
}

#upper_login{
    display:none;
}

.main{
    position:relative;
    top:5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}



/*------------------FORM------------------------*/

.form{
    display: flex;
    margin:auto;
    flex-direction: column;
    text-align:center;
    padding:10px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    gap:15px;
    width:20rem;
    height:30rem;
    overflow: hidden;
}

.form input {
    width: 10rem;
    border: none;
    outline: none;
    font-size: 20px;
    font-size:100;
    margin-top:10px;
}

.already_have_account_p{
    font-size:15px;
    color:var(--color-tiktok);
}

.form button{
    padding:20px;
    margin-top:20px;
    width:8rem;
}

form ion-icon{
    color:var(--color-buttons-third);
    font-size:60px;
}

.form .a {
    color:red;
}

@media screen and (min-width:850px){

    .nav{
        display: flex;
    }



    .motivational{
        width:18rem;
    }
    .main{
        display: flex;
        position:relative;
        top:10rem;
        padding:40px;
        justify-content: space-around;


    }
}





