
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


  .animated-text{
    opacity: 0; /* Set initial opacity to 0 */
    animation: fadeIn 1s ease-in-out forwards; /* Apply the fadeIn animation */
  }


:root{
    --btn-radius:10px;
    --color-tiktok:#1c1c1c;
    --color-white:#fff;
    --color-buttons-third:#429ef3;
    --color-yellow:#fff19c;
    --color-red:#fd5234;
    --color-twitter:#1DA1F2;
    --color-instagram:#DD2A7B;
    --color-facebook:#3B5998;
    --color-footer:#f1f1f1;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image:url("second_pills.jpg");
    background-position: center center;

}

.btn:hover{
    opacity: 0.8;
}
a{
    text-decoration: none;
}



.motivational{
    color:var(--color-white);
    font-size:40px;
    font-weight: 800;
    width:80%;
    margin:auto;
    padding:40px 0;
}

.motivational b{
    color:var(--color-buttons-third);
}

.logo_text{
    font-size:30px;
    color:var(--color-white);

}

.blue_btn{
    background-color: var(--color-buttons-third);
    border-radius:10px;
    border:none;
    font-size:20px;
    color:var(--color-white);
    padding:15px 30px;
}

.black_btn{
    background-color: var(--color-white);
    border-radius:10px;
    border:none;
    font-size:20px;
    color:var(--color-buttons-third);
    padding:15px 30px;
    border:2px solid var(--color-buttons-third)
}

section{
    position:relative;
    top:10px;
}


/*===============================NAVIGATION===================*/

.nav {
    position: fixed; /* Set the position to fixed */
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px 50px;
    height: 5rem;
    top: 0; /* Stick it to the top */
    left: 0; /* Align it to the left */
    right: 0; /* Align it to the right */
    z-index: 1;
    background: transparent; /* Initially, make it transparent */
}

#upper_login{
    display:none;
}

.main{
    position:relative;
    top:5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding:50px 0;
}



/*------------------FORM------------------------*/

.form{
    display: flex;
    margin:auto;
    flex-direction: column;
    padding:10px;
    border-radius: 10px;
    justify-content: center;
    background-color: var(--color-white);
    gap:15px;
    width:20rem;
    height:30rem;
    overflow: hidden;
}

#form_btn_section{
    display: flex;
    flex-direction: column;
    gap:10px;
}

#form_btn_section a{
    width:15rem;
    margin:auto
}

.form input {
    width: 10rem;
    border: none;
    outline: none;
    font-size: 20px;
    font-size:100;
    margin-top:10px;
    margin-left: 2rem;
}

.already_have_account_p{
    font-size:15px;
    color:var(--color-tiktok);
}


form ion-icon{
    color:var(--color-buttons-third);
    font-size:60px;
}

.form .a {
    color:red;
}


/*========================FOOTER=======================*/

.footer{
    background-color: var(--color-footer);
    position:relative;
    top:10px;
    height: 13rem;;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top:50px;
}


ion-icon{
    position:relative;
    font-size:30px;
    cursor: pointer;
}

 #logo_section{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding:10px;
}


.version{
    color:var(--color-disabled);
    font-size:15px;
}


#twitter{
    color: var(--color-twitter);
}

#tiktok{
    color:var(--color-tiktok)
}

#instagram{
    color:var(--color-instagram)
}

#facebook{
    color: var(--color-facebook);
}

@media screen and (min-width:850px){
    .footer{
        margin-top:180px;
    }
    .motivational{
        width:30rem;
        font-size:60px;
    }
    .main{
        display: flex;
        position:relative;
        top:10rem;
        padding:40px;
        justify-content: space-around;


    }
}





